@import "../../scss/variables";
/**
 * Error message styles
 */
.wooya-wrapper .wooya-notice {
  padding: 15px 20px;
  text-align: left;
  margin: 10px 0 20px;
  border-radius: 5px;
  border-left: 5px solid;

  & p {
    margin-left: 25px;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
  }

  & strong:before {
    font-family: Dashicons, sans-serif;
    font-size: $h3-font-size;
    margin-right: 5px;
    float: left;
    position: relative;
  }

  &.wooya-error {
    color: $color--red;
    border-left-color: $color--red;
    background-color: #FFD2D2;

    & strong:before {
      color: $color--red;
      content: "\f534";
    }
  }

  &.wooya-info {
    color: $color--blue;
    border-left-color: $color--blue;
    background-color: #BDE5F8;

    & strong:before {
      color: $color--blue;
      content: "\f534";
    }
  }

  &.wooya-success {
    color: $color--green;
    border-left-color: $color--green;
    background-color: #DFF2BF;

    & strong:before {
      color: $color--green;
      content: "\f147";
    }
  }

  &.wooya-warning {
    color: #9F6000;
    border-left-color: #9F6000;
    background-color: #FEEFB3;

    & strong:before {
      color: #9F6000;
      content: "\f534";
    }
  }
}
