@import "../../scss/variables";

/**
 * Button styles
 */
.wooya-wrapper {

    .wooya-btn {
        background-color: transparent;
        border: 3px solid $color--primary;
        border-radius: 70px;
        cursor: pointer;
        font-size: 15px;
        letter-spacing: $letter-spacing;
        line-height: 16px;
        padding: 0 15px;
        width: 180px;
        height: 43px;
        outline: none;

        &:disabled {
            cursor: default;
            // Same for all buttons.
            border-color: lighten( $color--primary, 60% );
            color: lighten( $color--primary, 60% );
        }
    }

    .wooya-btn-red {
        border-color: $color--red;
        color: $color--red;

        &:hover {
            border-color: darken( $color--red, 20% );
            color: darken( $color--red, 20% );
        }
    }

    .wooya-btn-gray {
        border-color: $color--primary;
        color: $color--primary;

        &:hover {
            border-color: darken( $color--primary, 20% );
            color: darken( $color--primary, 20% );
        }
    }

    .wooya-btn-transparent {
        border: 0 solid transparent;
        color: $color--blue;
        text-transform: uppercase;
        padding: 0;
        font-size: $h3-font-size;
        line-height: $h3-line-height;
        width: auto;

        &:before {
            content: "\f132";
            font-family: Dashicons;
            margin-right: 25px;
            border-radius: 50%;
            border: 3px solid;
            font-size: 17px;
            vertical-align: top;
            padding: 2px 1px 0;
        }

        &:hover {
            border-color: darken( $color--blue, 20% );
            color: darken( $color--blue, 20% );
        }
    }

}
