@import "variables";

/**
 * Form controls
 */
.wooya-wrapper {

    input[type="checkbox"] {
        border: 3px solid #E6E6E6;
        border-radius: 5px;
        margin-right: 15px;
        margin-top: 1px;

        &:before {
            margin: -5px 0 0 -6px;
            color: $color--blue;
        }
    }

    label {
        color: $color--primary;
        font-size: 15px;
        line-height: 19px;
        letter-spacing: $letter-spacing;
        font-weight: 500;
    }

    input[type="text"],
    textarea,
    select {
        display: block;
        font-size: 15px;
        font-weight: 300;
        letter-spacing: $letter-spacing;
        margin-top: 15px;
        padding: 0 30px;
        height: 41px;
        width: 100%;
        color: $color--primary;
        background: rgba(255, 255, 255, 0.2) url('#{$img-path}/input-icon.svg') no-repeat 99% 22px;
        border: 1px solid rgba(41, 50, 56, 0.2);
        border-radius: 70.917px;

        &.saving {
            background: rgba(255, 255, 255, 0.2) url("/wp-admin/images/spinner-2x.gif") no-repeat 99% 10px;
            background-size: 20px;
        }
    }

    textarea {
        height: 80px;
        background-position: 98% 52px;
        resize: none;
    }

    // TODO: select can be removed when switching to .wooya-select-container
    select {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        background: rgba(255, 255, 255, 0.2) url('#{$img-path}/select-icon.svg') no-repeat 97% 16px;

        &[name=include_cat] {
            background: none;
            padding: 20px 30px;
        }

        &::-ms-expand {
            display: none; /* hide the default arrow in ie10 and ie11 */
        }
    }

    .wooya-select-container {
        font-weight: 300;
        font-size: 15px;
        letter-spacing: $letter-spacing;
        margin-top: 15px;

        .wooya-select__input > input {
            height: 21px;
            margin-top: 0;
        }

        .wooya-select__control {
            border: 1px solid rgba(41, 50, 56, 0.2);
            box-shadow: inset 0 1px 2px rgba(0,0,0,.07);
            background: rgba(255, 255, 255, 0.2);
            border-radius: 70.917px;
            min-height: 41px;
            height: auto;

            .wooya-select__value-container {
                padding: 0 30px;
            }
        }

        .wooya-select__menu {
            padding: 0 30px;
        }
    }

    .wooya-switch-label {
        margin: 0;
        font-weight: 500;
        line-height: 19px;
        letter-spacing: $letter-spacing;
        text-transform: uppercase;
    }

    .wooya-switch-label {
        position: relative;
        top: -12px;
        margin-right: 30px;
        color: $color--green;
        cursor: pointer;

        &:last-of-type {
            margin-left: 30px;
            margin-right: 0;
            color: $color--red;
        }
    }

    .wooya-switch {
        position: relative;
        display: inline-block;
        width: 60px;
        height: 34px;

        input { display: none; }

        .slider {
            position: absolute;
            cursor: pointer;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: rgba(136, 180, 11, 0.2);
            height: 5px;
            -webkit-transition: .4s;
            transition: .4s;
            border-radius: 34px;
        }

        .slider:before {
            position: absolute;
            content: "";
            height: 20px;
            width: 20px;
            left: 0;
            top: -8px;
            background-color: $color--green;
            box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
            -webkit-transition: .4s;
            transition: .4s;
            border-radius: 50%;
        }

        input:checked + .slider {
            background-color: rgba(252, 108, 108, 0.2);
        }

        input:focus + .slider {
            box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
        }

        input:checked + .slider:before {
            background-color: $color--red;
            -webkit-transform: translateX(40px);
            -ms-transform: translateX(40px);
            transform: translateX(40px);
        }
    }

}
