$wrapper: 'wooya-wrapper';

$img-path: 'images' !default;

$font-family: 'wooya' !default;
$font-path: 'fonts' !default;
$icon-files: "\e900";
$icon-settings: "\e901";
$icon-input-icon: "\e902";
$icon-scroll: "\e903";

$font-size: 12px;
$line-height: 15px;
$letter-spacing: 1px;

$h2-font-size: 25px;
$h2-line-height: 32px;

$h3-font-size: 20px;
$h3-line-height: 26px;

$color--primary: #293238;
$color--red: #FC6C6C;
$color--green: #88B40B;
$color--blue: #46D3F2;
