/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */

a.toplevel_page_wooya > .wp-menu-image img {
    background-size: 36px;
    padding-top: 0 !important;
    width: 36px;
}