/**
 * Description styles
 */
.wooya-wrapper {

   .wooya-description {
       max-width: 600px;
       font-size: 15px;
       line-height: 19px;
       text-align: center;
       margin: 0 auto;
   }

}
