@import "../../scss/variables";

/**
 * YML item styles
 */
.wooya-wrapper {

    .wooya-yml-item {
        display: flex;
        justify-content: space-between;
        box-shadow: inset 0px -1px 0px #E6E6E6;
        padding: 40px 0;

        &.disabled {
            background-color: rgba(0,0,0,.1);
            opacity: .3;
            margin: 0 -20px;
            padding: 40px 20px;
            pointer-events: none;
        }

        .wooya-yml-item-select {
            margin-right: 20px;
        }

        .wooya-yml-item-title {
            margin-right: 30px;
        }

        .wooya-yml-item-title,
        .wooya-yml-item-description {
            flex-basis: 50%;
        }

        .wooya-yml-item-description > p {
            margin-top: 30px;
        }

        .wooya-yml-checkbox {
            margin-top: 20px;
        }

        .wooya-switch-label {
            color: $color--red;
            &:last-of-type { color: $color--green; }
        }

        .wooya-switch {
            .slider { background-color: rgba(252, 108, 108, 0.2); }
            .slider:before { background-color: $color--red; }
            input:checked + .slider { background-color: rgba(136, 180, 11, 0.2); }
            input:checked + .slider:before { background-color: $color--green; }
        }
    }

}
