/**
 * YML item styles
 */
.wooya-wrapper {

    .wooya-yml-item {
        display: flex;
        justify-content: space-between;

        .wooya-yml-item-select,
        .wooya-yml-item-title {
            margin-right: 20px;
        }

        .wooya-yml-item-title,
        .wooya-yml-item-description {
            flex-basis: 45%;
        }
    }

}
