@charset "UTF-8";

@import "scss/variables";
@import "scss/typography";

/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */

.wooya-wrapper {
    h2, p {
        color: $color--primary;
        line-height: $line-height;
    }

    h2 {
        font-size: $h2-font-size;
        line-height: $h2-line-height;
        text-align: center;
    }
    p {
        font-size: $font-size;
        letter-spacing: $letter-spacing;
    }

    h2.wooya-files-title:before,
    h2.wooya-settings-title:before {
        font-family: '#{$font-family}' !important;
        font-size: 21px;
        speak: none;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        line-height: 1;
        position: relative;
        top: -15px;
        margin-right: 5px;
    }

    h2.wooya-files-title:before {
        content: $icon-files;
    }

    h2.wooya-settings-title:before {
        content: $icon-settings;
    }
}